<h1>予約内容確認</h1>

< 開始日>
  <table>
    <tr>
        <th><%= @reservation.start_day %></th>
        <th><%= @reservation.end_day %></th>
        <th><%= @reservation.total_days %></th>
        <th><%= @reservation.total_price %></th>
        <#%= binding.pry %>
        

        <%= form_with model: @reservation, url:reservations_path, method: :post ,local: true do |reservar| %>
            <%= binding.pry %>
            <%= reservar.hidden_field :total_days  %>
          <li><%= reservar.submit "登録完了"%></li>
          <li><%= link_to "ルーム一覧に戻る", rooms_path%></li>
        </ul>
      <% end %>
    </tr>
  </table>