<h3>ルーム情報一覧</h3>

<% if flash[:notice] %>
<p class ="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
      <tr>
      <th>ルーム名</th>
      <th>一言</th>
      <th>料金</th>
      <th>住所</th>
      <th>更新日</th>
      <th>作成日</th>
      <th>ルーム画像</th>
      <th>削除</th>
      <th>登録者id</th>
      </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %> 
        <tr>
          <td><%= link_to room.roomname,room_path(room)%></td>
          <td><%= room.introduction %></td>
          <td><%= room.price %></td>
          <td><%= room.address %></td>    
          <td><%= room.updated_at.to_s(:datetime_jp) %></td>
          <td><%= room.created_at.to_s(:datetime_jp)%></td>
          <td><%= link_to room_path(room) do %>
          <% if room.roomimg? %> 
            <%= image_tag room.roomimg.url %>
          <% end %>
        <% end %></td>
       <td><%= link_to "削除",room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
       <td><%= room.user_id %></td>
        </tr>    
       <% end %>
  </tbody>
</table>

<p><#%= link_to "ルーム新規登録", new_room_path%></p> 
<p><%= link_to "ホームへ戻る", root_path %></p> 


<h1>ユーザー検索</h1>
<%= search_form_for @q, url: search_rooms_path do |f| %>
  <#% binding.pry %>
<%= f.label :roomname_cont, '部屋名' %>
<%= f.search_field :roomname_cont %>
<br>
<%= f.submit '検索' %>
<% end %>