<h3>ルーム情報一覧</h3>

<% if flash[:notice] %>
<p class ="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
      <tr>
      <th>ルーム名</th>
      <th>一言</th>
      <th>料金</th>
      <th>住所</th>
      <th>更新日</th>
      <th>作成日</th>
      <th>ルーム画像</th>
      <th>登録者id</th>
      </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %> 
        <tr>
        <td><%= room.roomname %></td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
        <td><%= room.address %></td>    
        <td><%= room.updated_at.to_s(:datetime_jp) %></td>
        <td><%= room.created_at.to_s(:datetime_jp)%></td>
        
        <td> <% if room.roomimg? %>  <!-- アップロード画像がある場合に実行する -->
          <p>
           
            <%= image_tag room.roomimg.url %><!--roomインスタンスの画像ファイルのURLを取得し表示 -->
          </p>
       <% end %></td>
       <td><%= link_to "削除",room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>    
       <% end %>

  </tbody>
</table>

<p><%= link_to "ルーム新規登録", new_room_path%></p> 

