<h3>ルーム登録</h3>

<#%= render "shared/error",obj: @room %>

<% if flash.now[:notice] %>
  <p class ="notice"><%= flash.now[:notice] %></p>
<% end %>

<%= form_with model: @room,local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :roomname ,"ルーム名" %></th> 
      <td><%= f.text_field :roomname %></td>
    </tr>

    <tr>
      <th><%= f.label :introduction ,"一言" %></th>
      <td><%= f.text_area :introduction %></td>    
    </tr>

    <tr>
      <th><%= f.label :price ,"料金" %></th>
      <td><%= f.number_field :price %></td>
    </tr>

    <tr>
      <th><%= f.label :address ,"住所" %></th>
      <td><%= f.text_field :address %>     
    </tr>
      
    <tr>
      <th><%= f.label :roomimg ,"部屋写真" %></th>
      <td><%= f.file_field:roomimg %>        
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "登録完了"%></li>
      <li><%= link_to "ルーム一覧に戻る", rooms_path %></li>
    </ul>
  </div>
<% end %>
