<h1>検索結果:<%= @rooms.count %></h1>
<table>
  <thead>
    <tr>
      <th>ルーム名</th>
      <th>住所</th>
      <th>料金</th>
      <th>ルーム画像</th>
    </tr>
  </thead>

  <tbody>
    <%  @rooms .each do |room| %>
      <tr>
      <td><%= link_to room.roomname,room_path(room)%></td>
      <td><%= link_to room.address,room_path(room)%></td>
      <td><%= link_to room.price,room_path(room)%></td>
      <td><%= link_to room_path(room) do %>
    <% if room.roomimg? %> 
      <%= image_tag room.roomimg.url %>
      <% end %>
      <% end %></td>
  
  </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', root_path %>