<h3>ルーム詳細</h3>
 
<table>
  <tr>
    <th>ルーム名</th>
    <td><%= @room.roomname %></td>
  </tr>
  <tr>
    <th>一言紹介</th>
    <td><%= @room.introduction %></td>
  </tr>
  <tr>
    <th>料金</th>
    <td><%= @room.price %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @room.address %></td>
    
  </tr>
  <tr>
    <th>ルーム画像</th>
    <% if @room.roomimg? %> 
    <%= image_tag @room.roomimg.url %>
  <% end %>
  
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "ルーム一覧に戻る", rooms_path %></li>
  </ul>
</div>


<%= form_with model: @reservation, url:new_reservation_path, method: :get ,local: true do |reserv| %>

  <p><%= "¥#{@room.price} / 日" %></p><br>

  <%= reserv.label :start_day ,"開始日" %><br>
  <%= reserv.date_field :start_day  %><br>
  <%= reserv.label :end_day ,"終了日" %><br>
  <%= reserv.date_field :end_day %><br>
  <%= reserv.label :customer,"人数" %><br>
  <%= reserv.number_field :customer, min: 1  %><br>
  <%= reserv.hidden_field :room_id, value: @room.id %>
  <%= reserv.hidden_field :user_id, value: current_user.id %>

  <ul>
    <li><%= reserv.submit "予約を確認する" %></li>
    <li><%= link_to "戻る", rooms_path %></li>
  </ul>
<% end %>
